@-webkit-keyframes movecity {
	from {
		left: 0;
		top: 0;
	}
	to { 
		left: -10000px;
		top: 0;
	}
}
.background {
	background: transparent url(./town.png) repeat-x;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -1;
}
.background.go {
		animation-name: movecity;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-iteration-count: 1;
		animation-fill-mode: both;
		animation-direction: normal;
		animation-name: movecity;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-direction: normal;
		animation-iteration-count: infinite;
}
.background.stop{
		animation-name: movecity;
		animation-duration:  225s;
		animation-timing-function:  ease-out;
		animation-iteration-count:  0.04;
		animation-fill-mode: both;
		animation-direction: normal;
}


